@using System
@using MunzeeInMap.MunzeeAppObjects
@model System.Collections.Generic.List<MunzeeInMap.MunzeeAppObjects.Clan1710>

@{
    ViewBag.Title = "Klání 17/10";
}
<br />
@Html.RouteLink("Autorizace pro GPX data pro GeoGet", "Autorizace")
<br/>
<strong>Data z oficiálních klanových statistik MHQ. Aktualizováno jednou denně se začátkem munzee dne (tj. půlnoc Texaského času). U nás ráno v 7:00</strong>
<br/>
@if (DateTime.Now > new DateTime(2017, 11, 3, 6, 59, 59))
{
    <div>Funkcionalita pro aktuální klání nebyla ještě naprogramována.</div>
}
else
{
    foreach (var klan in Model)
    {
        Level1710 levelRequirements = new Level1710();

        if (klan.DetailScore.finalLevel == 0)
        {
            continue;
        }
        Requirements1710 req = levelRequirements.level[klan.DetailScore.finalLevel];

        <article>
            <table class="klan">
                <thead>
                <tr class="popis"><td colspan="4">Klání 17/10 - @klan.ClanName - cíl: level @klan.DetailScore.finalLevel.ToString()</td></tr>
                <tr><th>Hráč</th><th>Bodů</th><th>Zelené odlovené</th><th>Zelené publikované</th></tr>
                </thead>
                <tbody>
                @{
                    int clanTot = 0;
                    int clanCG = 0;
                    int clanDG = 0;
                    Battle1710 battle = @klan.DetailScore;
                        
                }
                @for (int poradi = 1; poradi <= 10 && battle.playerOrder.Count >= poradi ; poradi++)
                {

                        string player = battle.playerOrder[poradi];

                        int cg = battle.number_captured_greenies.ContainsKey(player) ? battle.number_captured_greenies[player] : 0;
                        int dg = battle.number_deployed_greenies.ContainsKey(player) ? battle.number_deployed_greenies[player] : 0;
                        int tot = battle.total_points.ContainsKey(player) ? battle.total_points[player] : 0;

                        bool donePlayerCG = cg >= req.PlayerCapturedGreenies;
                        bool donePlayerPts = tot >= req.PlayerPoints;
                        int restPlayerCG = req.PlayerCapturedGreenies - cg;
                        int restPlayerPts = req.PlayerPoints - tot;
                        
                        int percentagePlayerCG = (cg*100*10)/req.ClanCapturedGreenies;
                        int percentagePlayerDG = (dg * 100 * 10) / req.ClanDeployedGreenies;
                        int percentagePlayerTot = (tot*100*10)/req.ClanTotalPoints;

                        int restOptimumPlayerCG = req.ClanCapturedGreenies/10 - cg;
                        int restOptimumPlayerDG = req.ClanDeployedGreenies / 10 - dg;
                        int restOptimumPlayerTot = req.ClanTotalPoints / 10 - tot;

                        clanTot += tot;
                        clanCG += cg;
                        clanDG +=dg;

                        string printOK = ":)";
                        <tr>
                            <td><strong>@player</strong></td>
                            <td>
                                @tot
                                @if (donePlayerPts)
                                {
                                    <img class="fajfka" alt=":)" src="~/Content/zelena_fajfka-2.png"/>
                                }
                                else
                                {
                                    <span>(<strong>@(-restPlayerPts)</strong>)</span>
                                }

                                <span>
                                (@percentagePlayerTot%;
                                @if (percentagePlayerTot < 100)
                                {
                                    <span>@(-restOptimumPlayerTot)</span>
                                }
                                )
                            </span>
                            </td>
                            <td>
                                @cg
                                @if (donePlayerCG)
                                {
                                    <img class="fajfka" alt=":)" src="~/Content/zelena_fajfka-2.png" />
                                }
                                else
                                {
                                    <span>(<strong>@(-restPlayerCG)</strong>)</span>
                                }
                                <span>
                                    (@percentagePlayerCG%;
                                    @if (percentagePlayerCG < 100)
                                    {
                                        <span>@(-restOptimumPlayerCG)</span>
                                    }
                                    )
                                </span>
                            <td>
                                @dg
                                <img class="fajfka" alt=":)" src="~/Content/zelena_fajfka-2.png" />
                                <span>
                                    (@percentagePlayerDG%;
                                    @if (percentagePlayerDG < 100)
                                    {
                                        <span>@(-restOptimumPlayerDG)</span>
                                    }
                                    )
                                </span>
                            </td>
                        </tr>
                }
                </tbody>
                <tfoot>
                @{
                    bool doneClanCG = clanCG >= req.ClanCapturedGreenies;
                    bool doneClanDG = clanDG >= req.ClanDeployedGreenies;
                    bool doneClanTots = clanTot >= req.ClanTotalPoints;
                    int restClanCG = req.ClanCapturedGreenies - clanCG;
                    int restClanDG = req.ClanDeployedGreenies - clanDG;
                    int restClanTots = req.ClanTotalPoints - clanTot;
                }
                <tr class="popis">
                    <td></td>
                    <td>
                        @clanTot.ToString()
                        @if (doneClanTots)
                        {
                            <img class="fajfka" alt=":)" src="~/Content/zelena_fajfka-2.png" />
                        }
                        else
                        {
                            <span><strong>(@(-restClanTots))</strong></span>
                        }
                    </td>
                    <td>@clanCG.ToString()
                        @if (doneClanCG)
                        {
                            <img class="fajfka" alt=":)" src="~/Content/zelena_fajfka-2.png"/>
                        }
                        else
                        {
                            <span><strong>(@(-restClanCG))</strong></span>
                        }</td>
                    <td>
                        @clanDG.ToString()
                    @if (doneClanDG)
                    {
                        <img class="fajfka" alt=":)" src="~/Content/zelena_fajfka-2.png" />
                    }
                    else
                    {
                        <span><strong>(@(-restClanDG))</strong></span>
                    }
                </td>
                </tr>
                </tfoot>
            </table>
        </article>
    }
}