@using MunzeeInMap.MunzeeAppObjects
@model System.Collections.Generic.List<MunzeeInMap.MunzeeAppObjects.Clan1702>

@{
    ViewBag.Title = "Klání 17/02";
}
<br />
@Html.RouteLink("Autorizace pro GPX data pro GeoGet", "Autorizace")
<br/>
<strong>Data z oficiálních klanových statistik MHQ. Aktualizováno jednou denně se začátkem munzee dne (tj. půlnoc Texaského času). U nás ráno v 7:00</strong>
<br/>
@if (DateTime.Now > new DateTime(2017, 3, 3, 6, 59, 59))
{
    <div>Funkcionalita pro aktuální klání nebyla ještě naprogramována.</div>
}
else
{
    foreach (var klan in Model)
    {
        Level1702 levelRequirements = new Level1702();

        if (klan.DetailScore.finalLevel == 0)
        {
            continue;
        }
        Requirements1702 req = levelRequirements.level[klan.DetailScore.finalLevel];

        <article>
            <table class="klan">
                <thead>
                <tr class="popis"><td colspan="4">Klání 17/02 - @klan.ClanName - cíl: level @klan.DetailScore.finalLevel.ToString()</td></tr>
                <tr><th>Hráč</th><th>Počet deploys</th><th>Bodů za Caps klenotů</th><th>Celkem bodů</th></tr>
                </thead>
                <tbody>
                @{
                    int bodovaniHraci = klan.DetailScore.playerOrder.Count;
                    //int clanTotalPoints = 0;
                    //int clanDeploys = 0;
                    //int clanCapturesRecycle = 0;
                    int clanPoints = 0;
                    

                }
                @for (int poradi = 0; poradi < bodovaniHraci; poradi++)
                {

                    Battle1702 battle = @klan.DetailScore;
                    string player = @battle.playerOrder[poradi + 1];
                    //int tot = (battle.total_points.ContainsKey(player)) ? battle.total_points[player] : 0;
                    int nd = (battle.number_deps.ContainsKey(player)) ? battle.number_deps[player] : 0;
                    int cjp = (battle.capture_jewels_points.ContainsKey(player)) ? battle.capture_jewels_points[player] : 0;
                    int pts = (battle.total_points.ContainsKey(player)) ? battle.total_points[player] : 0;

                    //bool donePlayer = (rest >= 0 && restDeps >= 0);

                    //clanTotalPoints += tot;
                    //clanDeploys += nd;
                    //clanCapturesRecycle += ncr;
                    clanPoints += pts;

                    int restD = nd - req.PlayerDeploys;
                    int restJew = cjp - req.PlayerCapsJewelPoints;
                    int restPts = pts - req.PlayerPoints;


                    string printOK = ":)";
                    <tr>
                        <td><strong>@player</strong></td>
                        <td>@nd
                            @if (restD >= 0)
                            {
                                <img class="fajfka" alt=":)" src="~/Content/zelena_fajfka-2.png"/>
                            }
                            else
                            {
                                <span>(<strong>@restD</strong>)</span>
                            }
                        </td>
                        <td>
                            @cjp
                            @if (restJew >= 0)
                            {
                                <img class="fajfka" alt=":)" src="~/Content/zelena_fajfka-2.png" />
                            }
                            else
                            {
                                <span>(<strong>@restJew</strong>)</span>
                            }
                        </td>
                        <td>
                            @pts
                            @if (restPts >= 0)
                            {
                                <img class="fajfka" alt=":)" src="~/Content/zelena_fajfka-2.png" />
                                if (req.ClanTotalPoints != 0)
                                {
                                    <span>
                                        (@((1000 * pts) / req.ClanTotalPoints)%;
                                        @if (pts < req.ClanTotalPoints / 10)
                                        {
                                            <span>@(pts - (req.ClanTotalPoints/ 10))</span>
                                        }
                                        )
                                    </span>
                                }
                            }
                            else
                            {
                                <span>(<strong>@restPts</strong>)</span>
                            }

                        </td>
                    </tr>
                }
                </tbody>
                <tfoot>
                @{
                    int restClanPts = clanPoints - req.ClanTotalPoints;

                    bool doneClan3 = restClanPts >= 0;


                }
                <tr class="popis">
                    <td></td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        @clanPoints.ToString()
                        @if (doneClan3)
                        {
                            <img class="fajfka" alt=":)" src="~/Content/zelena_fajfka-2.png"/>
                        }
                        else
                        {
                            <span><strong>(@restClanPts)</strong></span>
                        }
                    </td>
                </tr>
                </tfoot>
            </table>
        </article>
    }
}